body {
    margin: 0;
    padding: 0;
    height: 600px;
}

header {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
}

#navbar a{
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

#navbar a:hover{
    color: black;
}

.container{
    background-color: #0E5284;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home {
    height: 600px;
    margin: 20px;
    margin-left: 20px;
    border-radius: 10px;
    padding-top: 150px;
    background-image: url(/Asset/image/PNG.PNG);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home h1{
    font-size: 50px;
}

#about {
    padding: 0;
    margin: 0;
}

#about .text{
    padding: 20px;
}

footer{
    text-align: center; 
    background-color: #0e4974;
    padding: 20px;
}

#contact{
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #0e4974;
}

.social ul li{
    padding: 0;
    margin: 0;
}

#member{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.ang{
    background-color: white;
    width: 319px;
    height: 487px;
    border-radius: 50px;
    text-align: center;
}

.ang img{
    width: 244px;
    height: 244px;
    border-radius: 100%;
    padding: 30px;
}

.more button{
    background-color: #003CD8;
    color: white;
    width: 254px;
    height: 49px;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.more button:hover{
    background-color: #2261ff;
}

.ang h2{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ang p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.more{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sosial a{
    color: black;
    text-decoration: none;
}

.sosial a:hover{
    color: white;
}

@media screen and (max-width: 720px){
    header{
        display: flex;
        width: 100%;
    }

    header img{
        width: 20%;
        height: 20%;
    }

    #navbar{
        display: flex;
        justify-content: space-between;
    }

    #navbar a{
        float:none;
    }

    #home{
        height: 450px;
        text-align: center;
        background-size: 300px;
    }

    #member{
        display: block;
    }

    .ang{
        width: 100%;
        height: 410px;
        align-items: center;
        margin-bottom: 20px;
    }

    .ang img{
        width: 180px;
        height: 180px;
    }

    #contact{
        display: block;
    }

    .contact{
        margin-top: 50px;
    }
}